@font-face {
    font-family: 'October Crow';
    
    src: url('../fonts/October Crow.ttf')  format('truetype');
}

body.default {
    background: url(../img/background.png) no-repeat center center fixed;
}

body.default2 {
    background: url(../img/background2.png) no-repeat center center fixed;
}

body.default3 {
    background: url(../img/background3.png) no-repeat center center fixed;
}

body.tanglewood {
    background: url(../img/map_backgrounds/tanglewood.png) no-repeat center center fixed;
}

body.edgefield {
    background: url(../img/map_backgrounds/edgefield.png) no-repeat center center fixed;
}

body.ridgeview {
    background: url(../img/map_backgrounds/ridgeview.png) no-repeat center center fixed;
}

body.grafton {
    background: url(../img/map_backgrounds/grafton.png) no-repeat center center fixed;
}

body.bleasdale {
    background: url(../img/map_backgrounds/bleasdale.png) no-repeat center center fixed;
}

body.highschool {
    background: url(../img/map_backgrounds/highschool.png) no-repeat center center fixed;
}

body.prison {
    background: url(../img/map_backgrounds/prison.png) no-repeat center center fixed;
}

body.asylum {
    background: url(../img/map_backgrounds/asylum.png) no-repeat center center fixed;
}

body.default, body.default2, body.default3, body.tanglewood, body.edgefield, body.ridgeview, body.grafton, body.bleasdale, body.highschool, body.prison, body.asylum {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.chroma {
    background: none;
    background-color: #630f09;
    color: #222;
}

body.chroma h4.main {
    color: #eee;
    
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: #eee;
    
    /*
    text-shadow: -1px 1px 0 #333,
				  1px 1px 0 #333,
				  1px -1px 0 #333;
                 -1px -1px 0 #333;
    */           
}

h1 {
    font-family: 'Cabin Condensed', sans-serif !important;
    font-weight: bolder !important;
    color: #bbb !important;
    letter-spacing: 2px;
    font-size: 28px !important;
    text-align: center;
}

span.game_name {
    font-family: 'October Crow', sans-serif;
    font-weight: normal;
    letter-spacing: 2;
    text-align: center;
    font-size: 36px;
    color: #ccc;

    text-shadow:
        -1px -1px 0 #666,  
        1px -1px 0 #666,
        -1px 1px 0 #666,
        1px 1px 0 #666;
    
}

h4 {
    font-size: 16px !important;
    letter-spacing: 1px;
    font-weight: bolder !important;
    color: #999 !important;
}

h4 a {
    top: 3px !important; /* override the style from .glyphicon */
}

h4 a.eliminate, h4 a.loss {
    color: #e8361a;
}

h4 a.reroll {
    color: #047815;
}

h4 a:hover {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

#container {
    width: 600px;
    margin: 20px;
}

div.row {
    margin-left: -5px;
}

div.row.inline-block {
    display: inline;
}

div.row.inline-block::before, div.row.inline-block::after {
    display: inline;
}

div.item {
    position: relative;
    border: 2px #333 solid;
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: #1f1c1c;
    color: #999;
}

div.item span.disabled, div.item span.new {
    display: none;
}

div.item.active {
    background-color: #01254a;
    color: #1d7dde;
    font-weight: bolder;
    border-color: #1d7dde;
}

div.item.disabled {
    background-color: #360902;
    color: #b3301d;
    border-color: #b3301d;
}

div.item.disabled span.disabled, div.item.new span.new {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
}

div.item.new {
    background-color: #0c3b02;
    color: #1f8f06;
    font-weight: bolder;
    border-color: #1f8f06;
}

span.eliminate-count {
    font-size: 15px;
}

#custom_counts {
    display: none;
}

#custom_counts div.row {
    margin-bottom: 5px;
    padding-left: 5px;
}

div.actions {
    display: block;
    position: absolute;
    top: 90px;
    right: 15px;
}

div.actions-secondary {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#promotion {
    position: absolute;
    top: 280px;
    right: 17px;
    padding: 20px 20px 20px 25px;
    border: 4px #4287f5 solid;
    width: 210px;
    background-color: #1b2359;
    font-weight: bolder;
    color: #4287f5;
}

#promotion a {
    color: #acc2e3;
    margin-left: 25px;
}

#promotion span.highlighted-text {
    color: #acc2e3;
    margin-left: 5px;
}

#feedback_text {
    margin-top: 5px;
}

#patreon_text {
    margin-top: 20px;
}

#discord_text {
    margin-top: 20px;
}

p.bg-info {
    position: relative;
    display: none;
    margin: 0 auto;
    width: 500px;
    padding: 10px 15px;
    border: 2px #60a9e0 solid;
    background-color: #81c4f7;
    border-radius: 10px;
    color: #074575;
    margin-bottom: 10px;
}

p.bg-info span.glyphicon-info-sign {
    margin-right: 8px;
}

p.bg-info a.glyphicon-remove {
    position: absolute;
    display: block;
    top: 13px;
    right: 10px;
}

div.clear {
    clear: both;
}

button.btn.action {
    border: none;
}

button.btn-success {
    background-color: #047815;
}

button.btn-info {
    background-color: #444;
    margin-left: 10px;
}

button.btn-info:hover {
    background-color: #bbb;
    color: #222;
}

button.btn-info.settings-button {
    border: 1px solid #444;
    background: transparent;
}

button.btn-info.settings-button:hover {
    background: transparent;
}

button.btn-close {
    background-color: #777;
    color: #eee;
    margin-left: 10px;
}

button.btn-close:hover {
    background-color: #aaa;
    color: #222;
}

.indent {
    margin-left: 45px;
}

.tip-indent {
    margin-left: 25px;
}

.difficulty-indent {
    margin-left: 15px;
}

#view_toggle {
    display: block;
    margin-top: 12px;
    margin-left: 7px;
}

div.btn-group .btn {
    border-color: gray;
}

div.btn-group .btn.active {
    background-color: gray;
}

div.item.no-float {
    float: none;
    line-height: 18px;
    border: none;
    background: none;
    font-weight: bolder;
    padding: 0;
    font-size: 20px;

    text-shadow: -2px 2px 0 #111,
				  2px 2px 0 #111,
				  2px -2px 0 #111,
                 -2px -2px 0 #111;
}

#view_heading {
    display: none;
    font-size: 24px !important;
    
    text-shadow: -2px 2px 0 #111,
				  2px 2px 0 #111,
				  2px -2px 0 #111,
                 -2px -2px 0 #111;
}

div.dropdown {
    float: right;
    margin-top: -15px;
    margin-right: 103px;
    display: inline;
}

div.dropdown select {
    color: #eee;
    background-color: #444;
    border: 1px solid gray;
    padding: 3px;
}

div.dropdown .btn {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.settings {
    padding-top: 5px;
    padding-right: 15px;
}

#view_toggle_container {
    position: absolute;
    top: 140px;
    right: 20px;
    color: #ddd;
}

#view_toggle_heading {
    font-weight: bolder;
    margin-left: 7px;
}

div.custom-total-action {
    margin-right: 320px;
}

div.custom-total-action button.btn-primary {
    padding: 2px 12px;
}

.actions-secondary-photo {
    display: none;
}

div.modal-content {
    background-color: #222;
    color: #ccc;
}

div.modal-header h4, div.modal-header button.close {
    color: #ccc !important;
}

div.modal-body input {
    background-color: #ddd;
    color: #222;
}

div.setting-section {
    margin-top: 20px;
}

div.setting-section.first {
    margin-top: 0;
}

div.setting-section-contents {
    padding-left: 15px;
}

div.setting-section-contents em {
    display: inline-block;
    margin-left: 17px;
}