body.chroma {
    background-color: #630f09;
    color: #222;
}

body.chroma h4.main {
    color: #eee;
    
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: #eee;
    
    /*
    text-shadow: -1px 1px 0 #333,
				  1px 1px 0 #333,
				  1px -1px 0 #333;
                 -1px -1px 0 #333;
    */           
}

h4 {
    font-size: 16px !important;
    letter-spacing: 1px;
    font-weight: bolder !important;
}

#container {
    width: 600px;
    margin: 20px;
}

div.row {
    margin-left: -5px;
}

div.item {
    border: 2px #222 solid;
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: #444;
    color: #999;
}

div.item.active {
    background-color: #699ff5;
    color: #222;
    font-weight: bolder;
}

#custom_counts {
    display: none;
}

#custom_counts div.row {
    margin-bottom: 5px;
    padding-left: 5px;
}

div.actions {
    position: relative;
    padding-right: 15px;
}

#promotion {
    position: absolute;
    top: 80px;
    right: 17px;
    padding: 20px;
    border: 5px #4287f5 solid;
    width: 210px;
    background-color: #82aef5;
    font-weight: bolder;
}

#promotion a {
    color: #256bdb;
}

#feedback_text {
    margin-top: 5px;
}

#patreon_text {
    margin-top: 20px;
}